<ul>
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
  <li>
    {{#link-to 'about'}}About{{/link-to}}
  </li>
  <li>
    {{#link-to 'contact-us'}}Contact{{/link-to}}
  </li>
  <li>
    {{#link-to 'songs'}}Songs{{/link-to}}
  </li>
  <li>
    {{#link-to 'reddit'}}Reddit{{/link-to}}
  </li>
</ul>
{{outlet}}
